DATABASE_URL="postgresql://postgres:postgres@localhost:5432/work_allocation?schema=public"
AUTH_SECRET="replace-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_SUPPORT_EMAIL="aayansh.gupta@asbl.in"
